<!-- templates/search.html -->
{% extends "base.html" %}
{% block subtitle %}Keresés{% endblock %}
{% block containerhead %}
    <div class="banner-head">
        <div class="banner-1"></div>
            <div class="container"><h1>Globális keresés</h1> </div>
    </div>
{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible show">
                    <button type="button" class="close" data-dismiss="alert" > X</button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="/kereses" method="get" class="form-inline why-top-top">
        <div class="form-group">
        <label for="county" class="county">Megye : </label>
            <select name="county" class="form-control" id="county" onchange="county_change();" required>
            <option name="county" value="0">---- Válasz ----</option>
            {% for i in county %}
                <option name="county" value="{{ i['id'] }}">{{ i['county_name'] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
        <label for="species" class="species">Faj : </label>
            <select name="species" class="form-control" id="species" onchange="species_change();" required>
            <option name="species" value="0">---- Válasz ----</option>
            {% for i in species %}
                <option name="species" value="{{ i['id'] }}">{{ i['species_name'] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
        <label for="age" class="age">Kora : </label>
            <select name="age" class="form-control" id="age" onchange="age_change();">
            <option name="age" value="0">---- Válasz ----</option>
            {% for i in age %}
                <option name="age" value="{{ i['id'] }}">{{ i['age_name'] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
        <label for="size" class="size">Mérete : </label>
            <select name="size" class="form-control" id="size" onchange="size_change();">
            <option name="size" value="0">---- Válasz ----</option>
            {% for i in size_d %}
                <option name="size" value="{{ i['id'] }}">{{ i['size_name'] }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
        <label for="hair" class="hair">Szörzet : </label>
            <select name="hair" class="form-control" id="hair" onchange="hair_change();">
            <option name="hair" value="0">---- Válasz ----</option>
            {% for i in hair %}
                <option name="hair" value="{{ i['id'] }}">{{ i['hair_name'] }}</option>
            {% endfor %}
            </select>
        </div><br>
        <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox" name="spayed" value="1" id="spayed" onclick="if(this.checked){set_spayed(this);}">
            Ivartalanítva</label>
        <label class="checkbox-inline">
            <input type="checkbox" name="dog_ok" value="1" id="dog_ok" onclick="if(this.checked){set_dog_ok(this);}">
            Kutya kompatibilis</label>
        <label class="checkbox-inline">
            <input type="checkbox" name="cat_ok" value="1" id="cat_ok" onclick="if(this.checked){set_cat_ok(this);}">
            Macska kompatibilis</label>
        <label class="checkbox-inline">
            <input type="checkbox" name="kids_ok" value="1" id="kids_ok" onclick="if(this.checked){set_kids_ok(this);}">
            Gyerek kompatibilis</label>
        </div>
        <div class="clearfix"> </div>
        <div class="form-inline">
            <button type="submit" class="btn btn-default">Keresés</button>
            <button type="button" onclick="openForm()" class="btn btn-default" style="float: right;" id="saveButton">Keresés mentése</button>
        </div>
    </form>
    <div id="sh_Popup">
        <div class="form-popup" id="sh_Form">
            <form name="saveSearch" action="/saveSearch" class="form-container" method="post">
                <label for="savesearchname">
                <strong>Ajd nevet a keresésnek : </strong>
                </label>
                <input type="text" id="savesearchname" placeholder="Keresésem neve" name="savesearchname" required>
                <input type="hidden" name="county" id="county" value="">
                <input type="hidden" name="species" id="species" value="">
                <input type="hidden" name="age" id="age" value="">
                <input type="hidden" name="size" id="size" value="">
                <input type="hidden" name="hair" id="hair" value="">
                <input type="hidden" name="spayed" id="spayed" value="">
                <input type="hidden" name="dog_ok" id="dog_ok" value="">
                <input type="hidden" name="cat_ok" id="cat_ok" value="">
                <input type="hidden" name="kids_ok" id="kids_ok" value="">
                {% if sets.hash %}
                    <ul class="tag-editor ui-sortable">
                        <li style="width:1px">&nbsp;</li>
                        <li>
                            <div class="tag-editor-spacer">&nbsp;,</div>
                            <div class="tag-editor-tag">sortable</div>
                            <div class="tag-editor-delete"></div>
                        </li>
                        <li>
                            <div class="tag-editor-spacer">&nbsp;,</div>
                            <div class="tag-editor-tag">autocomplete</div>
                            <div class="tag-editor-delete"></div>
                        </li>
                        <li>
                            <div class="tag-editor-spacer">&nbsp;,</div>
                            <div class="tag-editor-tag">edit in place</div>
                            <div class="tag-editor-delete"></div>
                        </li>
                        <li>
                            <div class="tag-editor-spacer">&nbsp;,</div>
                            <div class="tag-editor-tag">tab/cursor navigation</div>
                            <div class="tag-editor-delete"></div>
                        </li>
                    </ul>
                {% endif %}
                <button type="submit" class="btn">Mentés</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Mégsem</button>
            </form>
        </div>
    </div>
    <script>
        function openForm() { document.getElementById("sh_Popup").style.display="block"; }
        function closeForm() { document.getElementById("sh_Popup").style.display= "none"; }
        window.onclick = function(event) { var modal = document.getElementById('sh_Popup');
            if (event.target == modal) { closeForm();}}
    </script>
    {% if search_data  %}
        <div class="search-in">{{ search_data }}</div>
    {% endif %}
{% endblock %}
